.footer
    min-height: 250px
    margin-top: 88px
    &__wrapper
        position: relative
        display: grid
        grid-template-columns: 123px 156px 139px
        grid-template-rows: 195px
        column-gap: 187px

    &__title
        font-family: 'Lato', sans-serif
        font-weight: 700
        font-size: 20px
        line-height: 24px
        color: #FFFFFF
    &__list
        list-style-type: none
        padding: 0
    &__item
        font-family: 'Lato', sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 19px
        color: #FFFFFF
        margin-top: 25px
    &__contacts
        &_list 
            list-style-type: none
            padding: 0
        &__item
            font-family: 'Lato', sans-serif
            font-weight: 700
            font-size: 20px
            line-height: 24px
            color: #FFFFFF
            margin-top: 33px
    &__links
        margin-top: 81px
        position: absolute
        top: 0
        right: 0
        &_title
            text-align: center
        &_wrapper
            margin-top: 46px
            width: 284px
            display: flex
            justify-content: space-between
            align-items: center
            

                
            