@media ( max-width: 1439px )
    .xbox
        &__wrapper
            grid-template-columns: minmax(492px, auto) minmax(508px, auto) 
        &__img2
            display: none
    .divider
        &__left
            width: 386px
            img
                width: 100%
        &__right
            width: 401px
            img
                width: 100%
@media ( max-width: 1200px )
    .container
        max-width: 960px
    .promo
        padding-top: 85px
        min-height: 724px
        &__img
            width: 545px
            height: 357px
            .promo__anim
                width: 100%
    .quality
        position: relative
        &__img
            width: 396px
            height: 396px
            .img2
                width: 100%
                height: 100%
                position: absolute
                left: -250px
                top: -10px
        &__text
            font-size: 19px
    .xbox
        margin-top: 300px
        min-height: 600px
        &__wrapper
            grid-template-columns: minmax(452px, auto) minmax(508px, auto) 
        &__img1
            width: 512px
            height: 422px
    .divider
        &__left
            width: 336px
        &__right
            width: 351px
    .footer
        &__wrapper
            grid-template-columns: 195px 195px 195px
        &__links
            margin-top: 60px
            width: 284px
            grid-column-start: 2
            grid-column-end: 3
            margin-top: 280px
@media ( max-width: 992px )
    .container
        max-width: 720px
    .guideline
        &__img
            width: 700px
            img
                width: 100%
    .xbox
        &__wrapper
            grid-template-columns: minmax(650px, auto)
    .footer
        &__wrapper
            grid-template-columns: 175px 175px 175px
            column-gap: 100px
        &__links
            margin-top: 250px

            


        

    



    